.ImageGallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 50px;
  margin: 0;
  justify-content: center;
}

.ImageGalleryItem {
  flex: 1 1 calc(25% - 16px);
  box-sizing: border-box;
  max-width: 300px;
}
