.LoadMoreBtn {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.LoadMoreBtn:hover {
  background-color: #2980b9;
  transform: translateY(-2px);
}

.LoadMoreBtn:active {
  background-color: #1c6693;
  transform: translateY(0);
}
